<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slider Example</title>
    <link rel="stylesheet" href="slider.css">
    <script src="lightslider.js"></script>
</head>

<body>
    <!-- Slider Div -->
    <div class="slider">
        <!-- Slider Track -->
        <div class="slider-track">

            <!-- Slider Item -->
            <div class="slider-item">
                <!-- Background Image -->
                <img src="[IMAGE]" alt="image">
                <!-- Item Title -->
                <p class="slider-text">Title</p>
            </div>


        </div>

        <!-- Slider Navigation Buttons -->
        <button class="slider-btn left"><img src="img/white-arrow-left.svg" alt="left button"></button>
        <button class="slider-btn right"><img src="img/white-arrow-right.svg" alt="right button"></button>

        <!-- Slider Navigation Indicators -->
        <div class="slider-nav-dots">
        </div>
    </div>
</body>

</html>