<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="score-board.js"></script>
    <link rel="stylesheet" href="score-board.css">
    <title>Football Score Bar</title>
</head>

<body>
    <div class="main-bar">
        <div class="timer">
            00:00
        </div>
        <div class="timer-extra"></div>

        <div class="team" id="1">
            <div class="team-bar" id="first"></div>
            <div class="team-ini" id="team1">NaN</div>
        </div>
        <div class="score">
            <div class="score-value" id="score1">0</div>
            <div class="separate-bar">-</div>
            <div class="score-value" id="score2">0</div>
        </div>
        <div class="team" id="2">
            <div class="team-ini" id="team2">NaN</div>
            <div class="team-bar" id="second"></div>
        </div>

    </div>
</body>

</html>