<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="navbar.css">
    <script src="navbar.js"></script>
    <title>Navbar example</title>
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar">
        <!-- Normal Navbar -->
        <div class="norm-navbar">
            <!-- Logo -->
            <a href="" id="logo"><img src="img/logo-example-wide.png" alt="logo"></a>

            <!-- Pages -->
            <a href="">Page 1</a>
            <a href="">Page 2</a>
            <a href="">Page 3</a>
            <a href="">Page 4</a>
            <a href="">Page 5</a>

            <!-- User Button -->
            <a href="" id="user">user</a>
        </div>

        <!-- Mobile Navbar -->
        <div class="mobile-navbar">
            <!-- Logo -->
            <a href="" id="logo"><img src="img/logo-example-wide.png" alt="logo"></a>

            <!-- Burguer Button -->
            <a id="burguer-menu"><img src="img/menu-white.svg" alt="burguer-menu"></a>

            <!-- Burguer Area -->
            <div class="burguer-area">
                <ul>
                    <li><a href="">Page 1</a></li>
                    <li><a href="">Page 2</a></li>
                    <li><a href="">Page 3</a></li>
                </ul>

            </div>
        </div>
    </nav>

</body>

</html>